<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>iBanking App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="{{ url_for('static', filename='favicon.png')}}"
        />
        <style>
            body {
                background-color: #007a9f;
            }
            .background {
                margin-top: 50px;
                background-color: #f1f1f1;
                margin-bottom: 50px;
                border-radius: 10px;
                padding-top: 1rem;
                padding-bottom: 7rem;
            }
        </style>
    </head>
    <body>
        <div class="background container">
            <a href="/login" class="btn btn-dark">Back</a>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <h3 class="text-success mt-5 mb-3 text-center">
                            Successful payment
                        </h3>
                        <p class="text-center">Check your email</p>
                    </div>
                </div>
            </div>
        </div>

        <script></script>
    </body>
</html>
